// Color definitions
$primary-h:#FF5C58;
$primary-m:#FFA19E;
$primary-l:#FCD2D1;
$secondary-h:#FFDCAB;
$secondary-m:#FFEDD3;
$secondary-l:#FFF7EC;
$tertiary-h:#000000;
$tertiary-m:#C4C4C4;
$tertiary-l:#D8D8D8;
$title:#898383;
$title-red: #E7654B;
$theme-dark: #ECCDA0;