// base.scss

@import '../scss/variables';

// Option A: Include all of Bootstrap
@import "../bootstrap/bootstrap";
// Include any default variable overrides here (though functions won't be available)

// Buttons
// button-variant(bg, border, color, 
//                hover-bg, hover-border, hover-color, 
//                active-bg, active-border, active-color)

.btn-primary {
  @extend .rounded-pill;
  @include button-variant($primary-h, $primary-h, $white,
    $primary-m, $primary-m, $white,
    $primary-h, $primary-h, $white);
  font-family: roboto, arial, helvetica;
}

//   button-outline-variant(
//   $color,
//   $color-hover: color-contrast($color),
//   $active-background: $color,
//   $active-border: $color,
//   $active-color: color-contrast($active-background))
.btn-toggle {
  @extend .rounded-pill;
  @include button-variant($tertiary-l, $tertiary-h, $title,
    $tertiary-m, $tertiary-h, $title,
    $primary-m, $primary-m, $white);
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Open+Sans&family=Playfair+Display:wght@400;700&family=Roboto&display=swap');


h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 90px;
  text-align: center;
}

.question-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: $black;
}

.question-subtitle {
  font-size: 20px;
  color: $black;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body .container-lg {
  background-color: $secondary-l;
}

.navbar-brand {
  display: flex;

  img {
    max-height: 4vh;
  }
}