// landing.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import '../scss/variables';

// Then add additional custom code here
.card-block {
  height: 300px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
}

#landing-container {
  height: 90vh;

  .left {
    .text {
      font-family: 'Playfair Display', serif;
      color: $theme-dark;
      margin-top: 35vh;

      h2 {
        font-size: 64px;
      }

      p {
        font-size: 24px;
      }
    }
  }

  .right {
    background: $theme-dark;

    button {
      margin-top: 45vh;
    }
  }

  img {
    position: absolute;
    max-width: 300px;
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

}