{% extends 'webapp/base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
{% endblock title %}

{% block style %}
{% endblock style %}

{% block top_nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF7EC; height: 5vh;">

  <div class="container-lg">
    <a class="navbar-brand nav-link active" aria-current="page" href="{% url 'webapp:landing' %}">
      <img src="{% static 'webapp/images/logo.png' %}" alt="reroot logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">RANDOM</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a href="{% url 'webapp:log_out' %}" class="nav-link">
            Log Out
          </a>
          {% else %}
          <a href="{% url 'webapp:log_in' %}" class="nav-link">
            Log in
          </a>
          {% endif %}
        </li>
      </ul>

    </div>
  </div>
</nav>
{% endblock top_nav %}

{% block body %}
{% endblock body %}

{% block bottom_nav %}
<nav class="navbar navbar-expand-lg navbar-light justify-content-center"
  style="background-color: #FFF7EC; height: 5vh;">
  Copyright © ReRoot. All rights reserved.
</nav>
{% endblock bottom_nav %}