{% extends 'webapp/base_nav.html' %}

{% block title %}
<title>{{ city }}</title>
{% endblock title %}

{% block body %}
<h1>
  <a href="https://en.wikipedia.org/wiki/{{ city }}">
    {{ city|capfirst }}
  </a>
</h1>

<div id='map' style='width: 80%; height: 300px;'></div>
<script>
  mapboxgl.accessToken = '{{ mapbox_access_token }}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-103.771556, 44.967243],
    zoom: 3,
  });
</script>
{% endblock body %}