{% extends 'webapp/base_nav.html' %}
{% load static %}

{% block title %}
<title>Compare</title>
{% endblock title %}

{% block body %}
<div class="row">
  Counties
</div>
<div class="row">
  {% for county in counties %}
  {{ county.county_name }}
  {% endfor %}
</div>

{% comment %} Chart.js {% endcomment %}
{{ counties|json_script:"counties" }}

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'webapp/js/compare.js' %}"></script>

<div class="col-lg-12 button-group">
  <button id="environment_air">Add environment_air</button>
  <button id="remove_last">Remove last factor</button>
</div>




{% endblock body %}