{% extends 'webapp/base_questionnaire.html' %}
{% load static %}

{% block body %}
<div class="container d-flex min-vh-100">
  <div class="row justify-content-center align-self-center">

    <!-- Question Title -->
    <div class="row question-title justify-content-center">
      Generating your city list...
    </div>
    {% comment %} Loading {% endcomment %}
    <div class="row question-subtitle justify-content-center my-3">
      <img src="{% static 'webapp/images/loading.png' %}" alt="loading image" style="width: 20vw;">
    </div>
    <!-- Question Text -->
    <div class="row question-subtitle justify-content-center my-3">Driven by data from U.S. Census</div>
  </div>
</div>

<script>
  setTimeout(() => {
    window.location.href = "{% url 'webapp:results' %}";
  }, 3000);
</script>
{% endblock body %}