{% extends 'webapp/base_nav.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}
<title>ReRoot</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% sass_src 'webapp/scss/landing.scss' %}" type="text/css">
{% endblock style %}

{% block body %}
<div class="row d-flex" id="landing-container">
  <div class="col-6 left">
    <div class="row text px-5 mx-5">
      <h2>Where to relocate?</h2>
      <p>personalized data-driven county analysis and comparison</p>
    </div>
  </div>
  <div class="col-6 right text-center">
    <button type="button" class="btn btn-primary px-5 mx-5">
      <a href="{% url 'webapp:questionnaire' %}">Start Questionnaire</a>
    </button>
  </div>

  <img src="{%static 'webapp/images/move.png' %}" alt="move">
</div>

{% endblock body %}