{% extends 'webapp/base_nav.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Log In</title>
{% endblock title %}


{% block body %}
<!--Register-->
<div class="container py-5">
  <h1>Log In</h1>
  <form method="POST">
    {% csrf_token %}
    {{ log_in_form|crispy }}
    <button class="btn btn-primary" type="submit">Log In</button>
  </form>
  <p class="text-center">If you already have an account, <a href="{% url 'webapp:register' %}">register</a> instead.</p>
</div>
{% endblock body %}