{% extends 'webapp/base_questionnaire.html' %}

{% block question %}
<div class="container">

  {% for factor in factors %}
  <div class="row justify-content-center align-self-center question">

    <!-- Question Title -->
    <div class="row justify-content-center question-title">Choose the type(s) of <span
        style="color:#FF5C58">{{ factor.name }}</span> that are important to you
    </div>

    <!-- Question Choices -->
    <form class="text-center" action="{% url 'webapp:done' %}" method="post">

      <!-- Update Submission -->
      {% for choice in factor.choices %}
      <input class="btn btn-primary btn-questionnaire mx-3" type="submit" name="{{ choice }}" value="{{ choice }}">
      {% endfor %}

      {% csrf_token %}
    </form>

  </div>
  {% endfor %}

</div>
{% endblock question %}

{% block progress %}
<div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
  aria-valuemax="100">
</div>
{% endblock progress %}